.container {
    width: 22%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 6px;
	  box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    color: #7a2020;
  }
  
  .price {
    font-size: 18px;
    font-weight: bold;
    color: #666;
  }
  
  .desc {
    text-align: center;
    color: #777;
  }
  
  @media screen and (max-width: 480px) {
    .container {
      width: 100%;
    }
  
    .title {
      font-size: 20px;
    }
  
    .price,
    .desc {
      font-size: 18px;
    }
  }

  @media screen and (min-width: 480px) and (max-width: 768px) {
    .container{
      width: 45%;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .container{
      width: 30%;
    }
  }
  