.container {
  height: 100px;
  padding: 0px 50px;
  background-color: #7a2020;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
}

.item {
  flex: 1;
  display: flex;
  align-items: center;
}

.item:nth-child(2) {
  flex: 3;
  justify-content: center;
}

.item:last-child {
  justify-content: flex-end;
}

.callButton {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
}

.texts {
  margin-left: 20px;
  color: white;
}

.text:first-child {
  font-size: 12px;
  font-weight: 500;
}
.text:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
}
.text:nth-child(3) {
  font-size: 12px;
  font-weight: 500;
}

.text:last-child {
  font-size: 20px;
  font-weight: bold;
}

.list {
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  color: white;
}

.listItem {
  margin: 20px;
  font-weight: 500;
  cursor: pointer;
}

.cart {
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}

.logoImage {
  cursor: pointer;
}

.counter {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #7a2020;
}

@media screen and (max-width: 480px) {
  .text:first-child {
    font-size: 10px;
  }
  .text:nth-child(2) {
    font-size: 15px;
  }
  .text:nth-child(3) {
    font-size: 10px;
  }

  .text:last-child {
    font-size: 15px;
  }
}

@media screen and (max-width: 1050px) {
  .item:nth-child(2) {
    display: none;
  }

  .item:nth-child(1) {
    flex: 3;
  }
}
